
/*  general classes*/
.hideMobile{
    display: none;
}



.hide{
    display: block;
}
.hid{
    display: none;
}
.iconn{
margin-left: 40vw;
font-size: 2em;
}

   /* --------------------media queries */
 
 /* // Extra small devices (portrait phones, less than 576px) */
 /* // No media query for `xs` since this is the default in Bootstrap */
 
 /* // -Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (orientation: landscape) { 
 
   
 }
 
 /* -Medium devices (tablets or ipad) */
 @media (min-width: 768px) {

}
 
 /* -Large devices (ipad pro) */
 @media (min-width: 992px) { 
    .mobile-only{
        display: none;
    }
    .Desktop{
    display: block;
    color: black;
    }  
    .hide{
        display: none;
    }
    .hid{
        display: block;
    }
    .ContactDiv{
        margin-top: 2vh;
        margin-left: 3vw;
    }
    .card{
        border: none;
    }
    .ico{
        font-size: 3em;
    }

   

    
 }
 @media screen and (min-width: 1200px) {

    

 
   }
  
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {}